@mixin flex($flex-direction: row) {
    display: flex;
    flex-direction: $flex-direction;
}

@mixin flexCenter($flex-direction: row) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: center;
    justify-content: center;
}
