@import "../variables/index.scss";

.container {
    @include flex($flex-direction: column);
    width: 100%;
    padding-bottom: 50px;
    .item {
        margin: 10px 10px;
        overflow-y: auto;
        padding: 1rem;
        min-width: 250px;
        background-color: rgba(151, 150, 150, 0.479);
        border-radius: 5px;
        flex: 1;
        box-shadow: 5px 1px 10px $text-color-dark;
        .item__title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
            text-transform: capitalize;
        }
        .item__body {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }
    .item:hover {
        transform: scale(1.02);
        transition: all 0.3s ease-in-out;
    }
}
